

.App {
  text-align: center;
  font-family: "Arial Black", Times, serif;
}
/* 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: grey;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.loginForm{
  
  margin-top: 15vh;
  text-align: center;
  align-items: center;
  padding: 10vh;

}

.loginInput{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.loginHeader{
  margin-bottom: 5vh;
  font-size: 
}

.loginbutton{
  font-size: 20px
}


/* NAVBAR */
.nav-wrapper{
  align-items: center;
  background-color: #F7F7F7;
  position: abolute;
  width: 100%;
  border-bottom: #1D4306
}
.nav-closet-right{
  color: #C95D2D;
  position: absolute;
  left: 60%;
  font-size: 1.5vh;
  /* margin-left: 70vh; */
}
.nav-closet-left{
  position:abolute;
  color: #1D4306;
  margin-left:60vh;
  font-size: 1.5vh;
  /* right: 0; */
}
.logout-button{
  /* border: none; */
  color: grey;
  font-size: 1.5vh;
  margin-right: 2vh;
  
}
.nav ul li:hover {
   background-color: white;
}
.userIcon{
  color: grey;
  font-size: 1.5vh;
  margin-left: 2vh;
}
/* NAVBAR */

/* FAKE NAVBAR */
.fakeNavbar{
  width: 100%;
  /* background-color: yellow; */
  height: 2vh;
  position: sticky;
  top: 5vh;
  z-index: 2;
}
/* FAKE NAVBAR */


.category-item{

  display: flex;
  position: relative;
}

.closet-item{
  width: 30vh;
  height: 40vh;
  padding: 2vh;
}

.category-item-overflow{
  position: relative;
  display: flex;
  overflow-x: auto;
  
}
.caption {
  width: 100%;
  margin-bottom: 4vh;
  margin-top: -2vh;
  overflow: none;
  object-fit: contain;
}
.item-img {
  /* background-color:black; */
  width: 100%;
  height: 100%;
}
.closet-container{
  overflow-x: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* background-color: green; */
}


.outfit-container{
  position: relative;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  /* background-color: green; */
  padding: 2vh;
  max-height: 25vh;
}


.closet-category{
  position: absolute;
}

.selected-item{
  position: relative;
  flex-direction: column;
  padding: 2vh;
  /* background-color: grey; */
  width: 20vh;
  height: 20vh;
}
.category-menu{
  position: relative;
}

.item-buttons{
  border: none;
  width: 12vh;
  margin-left: -2vh;
  /* z-index: 0; */
}

.listing-item{
  /* position:absolute; */
  background-color: cornflowerblue;
  width: 20vh;
  height: 25vh;
  padding: 2vh;
}
.listing-item img{
  object-fit: cover;
  width: 100%;
  max-height: 20vh;
}