.App {
  text-align: center;
  font-family: "Arial Black", Times, serif;
}
/* 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: grey;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.loginForm{
  
  margin-top: 15vh;
  text-align: center;
  align-items: center;
  padding: 10vh;

}

.loginInput{
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.loginHeader{
  margin-bottom: 5vh;
}

.loginbutton{
  font-size: 20px
}

.navbarCss{
  align-items: center;
 /* background-color: #282c34; */
 position: absolute;
 width: 80%;
 margin-left:15%;
}

.category-item{

  display: flex;
  position: relative;
}

.closet-item{
  width: 30vh;
  height: 40vh;
  padding: 2vh;
}

.category-item-overflow{
  position: relative;
  display: flex;
  overflow-x: auto;
  
}
.caption {
  width: 100%;
  margin-bottom: 4vh;
  margin-top: -2vh;
  overflow: none;
  object-fit: contain;
}
.item-img {
  /* background-color:black; */
  width: 100%;
  height: 100%;
}
.closet-container{
  overflow-x: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* background-color: green; */
}


.outfit-container{
  position: relative;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  /* background-color: green; */
  padding: 2vh;
  max-height: 25vh;
}


.closet-category{
  position: absolute;
}

.selected-item{
  position: relative;
  flex-direction: column;
  padding: 2vh;
  /* background-color: grey; */
  width: 20vh;
  height: 20vh;
}
.category-menu{
  position: relative;
}

.item-buttons{
  border: none;
  width: 12vh;
  margin-left: -2vh;
}
